*.exe
*.pdb
SmartBadmintonTrainingSystem/obj/Debug/SmartBadmintonTrainingSystem.exe
*.exe
SmartBadmintonTrainingSystem/obj/Debug/SmartBadmintonTrainingSystem.exe
*.exe
SmartBadmintonTrainingSystem/bin/Debug/in.txt